.socials {
  display: flex;
  align-items: center;

  & > * {
    &:not(:last-child) { margin-right: 15px; }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    background-color: #fff;
    border-radius: 50%;
  }

  &__icon {
    width: 20px;
    height: 20px;
    fill: #000;
  }
}
