.header {
  .container {
    display: flex;
    align-items: center;
  }

  &-top {
    padding: 12px 0;

    &__user-nav {
      margin-left: auto;
    }

    &__location {
      margin-right: 80px;
    }
  }

  &-main {
    padding: 20px 0;
    color: $white;
    background-color: $dark-bg-color;

    .container {
      & > * {

        &:not(:last-child) {
          margin-right: 25px;
        }
      }
    }
  }

  &__basket-prev {
    margin-left: auto;
  }
}
